body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
#es{
  color: #dddddd;
  font-family: Arial, Helvetica, fantasy;
  font-size: 20px;
}
#b{
  background-color: #ffffff;
  }
#section-style{
  background-color: #05fc0925;
  }
  #section-style2{
    background-color: #05fc0935;
    }
  #cb{
    background-color: #013004ef;
    }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
